---
import HeaderNavigation from '@/components/header-navigation/HeaderNavigation.astro';
import Layaout from '@/layaout/Layaout.astro';
---

<Layaout>
  <main>
    <h1>Categorias</h1>
    <HeaderNavigation />
  </main>
</Layaout>
