---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import '@/styles/global.css';
import HeaderNavigation from '@/components/header-navigation/HeaderNavigation.astro';
export const prerender = true;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <HeaderNavigation />
    <main>
      <slot />
    </main>
  </body>
</html>
